extends layout

block content
  h1= channel.name

  table(id="example", class="table table-striped table-bordered", cellspacing="0", width="100%")
    thead
      tr
        th Nom
        th Durée
        th Année
    tbody
      each video, i in videos
        tr
          td
            a(href="/movie/#{video.id}/#{channel.id}")= video.title
          td= video.duree
          td= video.year
      script.
        $(document).ready(function() {
          $('#example').DataTable({
              "language": {
                  "url": "//cdn.datatables.net/plug-ins/1.10.8/i18n/French.json"
              }
            });
        });
