extends layout

block content

  h1= title

  | Ce serveur http est open-source
  br
  br

  | Venez participer au developpement ici:
  br
  br

  a(href="https://github.com/TwanoO67/plex-web-downloader") GitHub
  br
  br

  | Le serveur tourne depuis #{uptime}
  br
  br
