doctype html
html
  head
    title= title
    meta(charset='UTF8')
    link(rel='stylesheet', href='#{config.theme}')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.11.3.min.js')
    script(type='text/javascript', src='//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='//cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js')
  body

    nav.navbar.navbar-default.navbar-static-top.transparent(role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle(type="button",data-toggle="collapse",data-target="#collapse-menu")
            span.sr-only Toggle navigation
            i.fa.fa-bars
          a.navbar-brand(href="/")
            b Plex&nbsp;
            | Web Downloader

        div#collapse-menu.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href="/") Accueil
            li
              a(href="/divers") Divers

    div.wrapper
      div.container
        block content
